/* =======================
        VARIABLES
======================== */
:root {
    --light-pink: #f7d4ec;
    --magenta: #ae0d7a;
    --tealish: #448d76;
    --yellow: #fcba12;
}


header {
    border: 2px solid var(--light-pink);
}

fieldset {
    border: 2px solid var(--tealish);
}

.all-entries {
    border: 2px solid var(--magenta);
}

.entry {
    border: 2px solid var(--yellow);
}
